{% extends "base.html" %}
<!DOCTYPE HTML>
<html lang="en-US">
{% load staticfiles %}
<head>
	<meta charset="UTF-8">
	{% block head %}
	<title>Login Page</title>
	{% endblock %}
</head>
<body>
	{% block content %}
	<div class="container">
	<section id="section-contact" class="contact-wrap">
		<div class="section-overlay"></div>
		<div class="container contact center animated" data-animation="flipInY" data-animation-delay="1000">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="col-md-10 col-md-offset-1 center section-title">
						<h3>Login </h3>
					</div>
					
					<div class="confirmation">
						<p><span class="fa fa-check"></span></p>
					</div>
					
					<form class="contact-form support-form" method="POST" action="http://localhost:8000/login">
						
						<div class="col-lg-12">
							<input id="username" class="input-field form-item field-name" type="text" required="required" name="username" placeholder="User Id" />

							<input id="password" class="input-field form-item field-email" type="password" required="required" name="password" placeholder="Password" />

						</div>
						<button type="submit" class="fancy-button button-line button-white large zoom subform">
							Log In
							<span class="icon">
								<i class="fa fa-paper-plane-o"></i>
							</span>
						</button>
						<a style="text-align :center;" href="#"><h4>Sign Up</h4></a>
					</form>
				</div>
			</div>
		</div>
		</section>
	</div>
    {% endblock %}
	
	
	
</body>
</html>